<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuAn</title>
    <link rel="stylesheet" href="bootstrap-5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="bootstrap-5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/592deca63b.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo-remove.png" width="150px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Trang chủ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Sản phẩm</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Về chúng tôi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bài viết</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>
          <div class="topnav">
            <input type="search" placeholder="Tìm kiếm..."/><i class="fa-solid fa-magnifying-glass icon-search"></i>
          </div>
          <div class="icon">
            <a href="#" class="nav-link">
              <i class="fa-regular fa-circle-user fa-2x"></i>
            </a>
            <a href="#" class="nav-link">
              <i class="fa-solid fa-cart-plus fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-6">
        <img src="img/food/Gà Sốt Buffalo  ( 6 miếng ).png" width="550px" id="mainImage" alt="">
        <div class="img-mota">
          <img src="img/food/Gà Sốt Buffalo  ( 6 miếng ).png" alt="" onmouseover="changeImage(this)">
          <img src="img/food/Gà Rán (6 miếng).png" alt="" onmouseover="changeImage(this)">
          <img src="img/food/Gà Sốt Buffalo  ( 6 miếng ).png" alt="" onmouseover="changeImage(this)">
          <img src="img/food/Gà Rán (6 miếng).png" alt="" onmouseover="changeImage(this)">
        </div>
        <div class="mo-ta-left">
          <p>Mô tả</p>
        </div>
      </div>
        <div class="col-md-6">
            <h3>Gà Sốt Buffalo (6 miếng)</h3>
            <div class="stars">
              <form action="" class="star">
                <i class="fa-solid fa-star" style="color: #eeff00;"></i>
                <i class="fa-solid fa-star" style="color: #eeff00;"></i>
                <i class="fa-solid fa-star" style="color: #eeff00;"></i>
                <i class="fa-solid fa-star" style="color: #eeff00;"></i>
                <i class="fa-solid fa-star-half-stroke" style="color: #eeff00;"></i>
              </form>
              <p class="danhgia">4.5/5</p>
            </div>
            <div>
              <div class="size">
                <input type="radio" id="radio1" name="size">
                <label for="radio1">Nhỏ</label>

                <input type="radio" id="radio2" name="size">
                <label for="radio2">Vừa</label>

                <input type="radio" id="radio3" name="size">
                <label for="radio3">Lớn</label>
              </div>
              <p class="gia">80.000 đ</p>
              <p class="gia-km">80.000 đ</p>
            </div>
            <form action="" method="post">
              <div class="h2-mota">
                <p class="h2-mau">Ngon hơn khi ăn kèm</p> 
                <!-- Detail -->
                <div>
                  <div class="them"> 
                      <img src="img/food/Cá Nugget (3 miếng).png" width="120px" height="120px" alt="">
                      <p class="mo-ta-them">Cá Nugget (3 Miếng)</p>
                      <p class="gia-them">+25.000 đ</p>
                      <!-- Tăng giảm số lượng -->
                      <div class="quantity-counter">
                        <button class="decrease-btn">-</button>
                        <input type="text" value="1" class="quantity-input">
                        <button class="increase-btn">+</button>
                      </div>
                      <!--  -->
                  </div>
                </div>
                <!--  -->
              </div>
            </form>
            <div class="quantity">
              <p class="so-luong">Số Lượng</p>
              <!-- Tăng giảm số lượng -->
              <div class="quantity-counter">
                <button class="decrease-btn">-</button>
                <input type="text" value="1" class="quantity-input">
                <button class="increase-btn">+</button>
             </div>
             <!--  -->
             <div class="heart">
               <i class="fa-regular fa-heart"></i>
             </div>
            </div>
            <div class="nut-them">
              <a href="#" class="btn btn-danger">Thêm vào giỏ hàng</a>
              <a href="#" class="btn btn-danger">Mua ngay</a>
            </div>
        </div>
    </div>

    <div class="container">
      <p class=" title-binh-luan">Bình Luận</p>
      <div class="user-binh-luan">
        <div class="avatar">
          <img src="img/logo.png" alt="">
        </div>
        <div class="binh-luan">
          <p class="ten-user">Nguyễn Văn A</p>
          <p class="date">8/11/2023</p>
          <p class="user-noi-dung">Ngày nay, dù chúng ta được tiếp xúc với nhiều nền Ẩm thực từ các nước trên thế giới thế nhưng món ăn truyền thống Việt Nam vẫn đóng vai trò quan trọng trong nhịp sống hằng ngày và nhận được cảm tình của bạn bè quốc tế. Ngoài ra, Việt Nam còn nhiều món ăn đặc sắc được làm từ nguyên liệu tự nhiên. Cùng Chefjob.vn điểm tên một số nét đặc trưng của Ẩm thực Việt từ truyền thống đến hiện đại nhé.</p>
        </div>
      </div>
    </div>

      <footer>
        <div class="footer1">
            <div class="logo">
            <img src="img/logo-remove.png" width="350px" alt="">
            <h4>Hòm thư đóng góp ý kiến</h4>
            <div class="bottom-nav">
                <input type="text" placeholder="Ý kiến của bạn"/><p class="give">Gửi ngay -></p>
            </div>
            </div>
            <div>
            <h3>Thông tin</h3>
            <p>Tin tức</p>
            <p>Khuyến mãi</p>
            <p>Tuyển dụng</p>
            <p>Nhượng quyền</p>
            </div>
            <div>
            <h3>Hỗ trợ</h3>
            <p>Điều khoản sử dụng</p>
            <p>Chính sách bảo mật</p>
            <p>Chính sách giao hàng</p>
            <p>Chăm sóc khách hàng</p>
            </div>
            <div>
            <h3>Theo dõi</h3>
            <i class="fa-brands fa-facebook fa-1x" style="color: #005af5;">Facebook</i>
            <p>Intagram</p>
            <p>Mail</p>
            <p>Tiktok</p>
            </div>
        </div>
        <p class="Xi-food">© 2020 Xì Food</p>
    </footer>
    <script>
      const decreaseBtn = document.querySelector('.decrease-btn');
      const increaseBtn = document.querySelector('.increase-btn');
      const quantityInput = document.querySelector('.quantity-input');

      decreaseBtn.addEventListener('click', () => {
          decreaseQuantity();
      });

      increaseBtn.addEventListener('click', () => {
          increaseQuantity();
      });

      function decreaseQuantity() {
          let currentValue = parseInt(quantityInput.value);
          if (currentValue > 1) {
              quantityInput.value = currentValue - 1;
          }
      }

      function increaseQuantity() {
          let currentValue = parseInt(quantityInput.value);
          quantityInput.value = currentValue + 1;
      }


      function changeImage(image) {
        var mainImage = document.getElementById('mainImage');
        mainImage.src = image.src;
      }
    </script>
</body>
</html>