<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuAn</title>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/592deca63b.js" crossorigin="anonymous"></script>
       
    
    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <img src="img/logo-rem.png" alt="Logo" style="transform: scale(1.8);">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <div class="nav-item dropdown">
                        <a href="menu.html" class="nav-item nav-link">Thực Đơn</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Gà Rán</a>
                            <a href="#" class="dropdown-item">Mì Ý</a>
                            <a href="#" class="dropdown-item">Hamburger</a>
                            <a href="#" class="dropdown-item">Đồ Uống</a>
                            <a href="#" class="dropdown-item">Đồ Ăn Phụ</a>
                            <a href="#" class="dropdown-item">Tráng Miệng</a>
                            <a href="#" class="dropdown-item">ComBo</a>
                        </div>
                    </div>
                    <a href="service.html" class="nav-item nav-link">Dịch Vụ</a>
                    <a href="index.php?mod=page&act=about" class="nav-item nav-link">Về Chúng Tôi</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-item nav-link"><span class="material-symbols-outlined">
                            account_circle
                            </span></a>
                        <div class="dropdown-menu m-0">
                            <a href="index.php?mod=user&act=signup" class="dropdown-item">Đăng Ký</a>
                            <a href="index.php?mod=user&act=login" class="dropdown-item">Đăng Nhập</a>
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link"><span class="material-symbols-outlined">
                        shopping_cart
                        </span></a>
                </div>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </nav>
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
        </div>
    </div>
    <!-- Navbar & Hero End -->
    <style>
        .ghichu {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .ghichu h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .ghichu p {
            color: #888;
            font-size: 14px;
        }

        .ghichu textarea{
            width: 100%;
            padding: 10px;
            height: 150px;
            text-align: left;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.5;
            resize: vertical;
        }

        table {
            width: 90%;
            border-collapse: collapse;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        table, td {
            border: 1px solid #ddd;
        }

         td {
            padding: 8px;
            text-align: left;
        }
        .hoadon {
            border: 1px solid #ccc;
            padding: 20px;
            width: 90%;
            margin-left: 20px;
        }

        .hoadon p {
            margin: 10px 0;
        }

        


        .hoadon input[type="button"] {
            padding: 10px 20px;
            height: 80px;
            width: 100%;
            background-color:  #C5221F;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 26px;
        }

        .hoadon input[type="button"]:hover {
            background-color: #000000;
        }



    </style>
    <div class="container">
        <h2 style="color: #C5221F;">Xì Food</h2>
        <h3>Thông tin thanh toán</h3>
    </div>
    <div class="container" style="display: flex;">
        <div class="col-lg-7 col-md-7">
            <div>
                <form action="">
                    <div class="hoten">
                        <input type="text" placeholder="Họ Và Tên" id="hoten">
                    </div>
                    <div class="gop" style="width: 100%; display: flex;">
                        <div class="email" style="width: 58%; margin-right: 20px;">
                            <input type="text" placeholder="Email" id="email">
                        </div>
                        <div class="sdt" style="width: 40%;">
                            <input type="text" placeholder="Số Điện Thoại" id="sdt"></input>
                        </div>
                    </div>
                    <div class="diachi" style="width: 100%;">
                        <input type="text" placeholder="Địa chỉ"  id="diachi">
                        <div class="chon-diachi" style="width: 100%;" >
                            <select id="city" style="width: 32%; margin-right: 10px;" >
                                <option value="" selected>Chọn tỉnh thành</option>           
                            </select>
                                    
                            <select id="district" style="width: 32%; margin-right: 10px;">
                                <option value="" selected>Chọn quận huyện</option>
                            </select>

                            <select id="ward" style="width: 32%;">
                                <option value="" selected>Chọn phường xã</option>
                            </select>
                        </div> 
                    </div>
                    <div class="ghichu">
                        <h3>Thông tin bổ sung</h3>
                        <p>Ghi chú đơn hàng (Tuỳ chọn)</p>
                        <textarea name="ghichu" id="ghichu" placeholder="Ghi chú về đơn hàng, ví dụ: Thời gian hay chỉ dẫn giao hàng chi tiết hơn."></textarea>
                    </div>

  
                </form>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <table>
                <tbody>
                    <tr>
                        <td><img src="img/product/Burger Tôm.png" width="100px" alt=""></td>
                        <td>Gà Sốt Buffalo Phần</td>
                        <td>100.000 đ</td>
                    </tr>
                    <tr>
                        <td><img src="img/product/Burger Tôm.png" width="100px" alt=""></td>
                        <td>Gà Sốt Buffalo Phần</td>
                        <td>100.000 đ</td>
                    </tr>
                    <tr>
                        <td><img src="img/product/Burger Tôm.png" width="100px" alt=""></td>
                        <td>Gà Sốt Buffalo Phần</td>
                        <td>100.000 đ</td>
                    </tr>
                </tbody>
            </table>
            <div class="hoadon">
                <div class="left" style="float: left; font-size: 26px;">
                    <p>Tạm tính:</p>
                    <p>Giảm giá:</p>
                    <p>Phí ship:</p>
                    <p>Tổng:</p>
                </div>
                <div class="right" style="float: right; font-size: 26px; text-align: center;">
                    <p>900.000 đ</p>
                    <p>30%</p>
                    <p>0 đ</p>
                    <p>900.000 đ</p>
                </div>
                <!-- <p class="tamtinh">Tạm tính: 900.000 đ</p>
                <p class="giamgia">Giảm giá: 30%</p>
                <p class="ship">Phí ship: 0 đ</p>
                <p class="tong">Tổng: 900.000 đ</p> -->
                <input type="button" value="Đặt Hàng">
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const host = "https://provinces.open-api.vn/api/";
        var callAPI = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data, "city");
                });
        }
        callAPI('https://provinces.open-api.vn/api/?depth=1');
        var callApiDistrict = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.districts, "district");
                });
        }
        var callApiWard = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.wards, "ward");
                });
        }

        var renderData = (array, select) => {
            let row = ' <option disable value="">Chọn</option>';
            array.forEach(element => {
                row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
            });
            document.querySelector("#" + select).innerHTML = row
        }

        $("#city").change(() => {
            callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");
            printResult();
        });
        $("#district").change(() => {
            callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");
            printResult();
        });
        $("#ward").change(() => {
            printResult();
        })

        var printResult = () => {
            if ($("#district").find(':selected').data('id') != "" && $("#city").find(':selected').data('id') != "" &&
                $("#ward").find(':selected').data('id') != "") {
                let result = $("#city option:selected").text() +
                    " | " + $("#district option:selected").text() + " | " +
                    $("#ward option:selected").text();
                $("#result").text(result)
            }

        }

    </script>
    

</body>
</html>