<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>

    <div class="container">
        <h2>Thông tin tài khoản</h2>
        <div class="account">
            <div class="col-lg-3 col-md-3">
                <div class="avatar">
                    <img src="img/avatar.jpg" alt="">
                    <button>Thay ảnh</button>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="user">
                    <div class="hoten">
                        <p>Họ và Tên: Nguyễn Văn Tèo</p>
                        <button>Thay đổi</button>
                    </div>
                    <div class="sdt">
                        <p>Số Điện Thoại: 0123456789</p>
                        <button>Thay đổi</button>
                    </div>
                    <div class="email">
                        <p>Email: nguyenvanteo@gmail.com</p>
                        <button>Thay đổi</button>
                    </div>
                    <div class="gioitinh">
                        <p>Giới tính: 
                            <input type="radio" id="radioNam" name="gioitinh">
                            <label for="radio1">Nam</label>
            
                            <input type="radio" id="radioNu" name="gioitinh">
                            <label for="radio2">Nữ</label>
            
                            <input type="radio" id="radioKhac" name="gioitinh">
                            <label for="radio3">Khác</label>
                        </p>
                    </div>
                    <div class="matkhau">
                        <p>Mật Khẩu: teodethuong123</p>
                        <button>Thay đổi</button>
                    </div>  

                </div>
            </div>
        </div>

    </div>

</body>
</html>