


h2{
    display: block;
    width: 1440px;
    text-align: center;
    margin-bottom: 20px;
}

.account{
    display: flex;
}

.avatar{
    display: flex;
    flex-direction: column;
}

.avatar img{
    width: 180px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatar button{
    margin: auto;
    width: 120px;
    padding: 5px;
    background-color: #C5221F;
    color: white;
    font-size: 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.user{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.user div p{
    width: 350px;
    height: 30px;
    margin-top: 3px;
    font-size: 20px;
}

.user div button{
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    background-color: #C5221F;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.avatar button:hover{
    background-color: white;
    color: #C5221F;
}

.user button:hover{
    background-color: white;
    color: #C5221F;
}

.hoten{
    display: flex;
    margin-right: 50px;
    width: 400px;
}

.sdt{
    display: flex;
    margin-right: 50px;
    width: 400px;
}

.email{
    display: flex;
    margin-right: 50px;
    width: 400px;
}

.gioitinh{
    display: flex;
    margin-right: 50px;
    width: 400px;
}   

.gioitinh label{
	margin-right: 5px;
	font-weight: 600;
	font-size: 20px;
}
  
input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 5px 0 0;
	padding: 0;
	border-radius: 50%;
	border: 2px solid #ccc;
	outline: none;
	cursor: pointer;
}
  
  
input[type="radio"]:checked {
	border-color: #ffffff;
	background-color: #C5221F;
}

.matkhau{
    display: flex;
    margin-right: 50px;
    width: 400px;
}