<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEAR PIZZA</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-pizza-slice fa-flip"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              THỰC ĐƠN
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">PIZZA</a></li>
              <li><a class="dropdown-item" href="#">COMBO</a></li>
              <li> <a class="dropdown-item" href="#">KHAI VỊ</a></li>
              <li><a class="dropdown-item" href="#">ĐỒ UỐNG</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-disabled="true">BÀI VIẾT</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 end-0">
          <li class="nav-item dropdown" style="left:auto">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>TÀI KHOẢN 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="?mod=user&act=signup">Đăng ký</a></li>
              <li><a class="dropdown-item" href="?mod=user&act=login">Đăng nhập</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-cart-plus"></i></a>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <!-- Banner  -->
    <!-- <div id="carouselExample" class="carousel slide my-3 ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/PIZZA/img/Banner.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/Banner quảng cáo.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/banner đặt hàng.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/Banner bear.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <img src="../img/Pizza Dodo Đặc Biệt.webp" class="w-100">    
          </div>
          <div class="col-md-6">
            <h2>Pizza Dodo đặc biệt</h2>
            <div class="row">
              <div class="col-md-6">Tác giả: 
                <strong>Đồng Dao</strong>
              </div>
              <div class="col-md-6">Chủ đề:
                <strong>Thiếu nhi</strong>
              </div>
            </div>
            <div class="text-danger fs-3">68.000đ</div>

            <small>Còn <strong>5</strong> quyển trong thư viện</small>
            <br>
            <button class="btn btn-outline-primary btn-lg">Mượn sách</button>

            <hr>
            <p class="my-3">
              Mozzarella, bò, tỏi, hành tây tím, pepperoni, ba rọi xông khói, ớt chuông , cà chua bi, nấm
            </p>
          </div>
        </div>
        <h2>Có thể bạn thích đọc</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="card" >
              <img src="../img/Pizza Lườn Ngỗng xốt chanh dây.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pizza Lườn Ngỗng xốt chanh dây</h5>
                <p class="card-text">68.000đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card mb-3" >
              <img src="../img/Pizza 4 Cheese.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.000đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card mb-3" >
              <img src="../img/Pizza 4 Cheese.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.000đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card mb-3" >
              <img src="../img/Pizza 4 Cheese.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.000đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
        </div>
        <h2>Cảm nghĩ của bạn đọc</h2>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Voòng Thị Ngọc Phương</strong>
            <br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần </i>
          </div>
          <div class="col-sm-9">
            Với những câu chuyện chọn lọc kỹ lưỡng, phù hợp với nhận thức, 
            những bài học nho nhỏ được rút ra qua từng câu chuyện thực tế, 
            hy vọng bộ sách sẽ là món quà tuyệt vời giúp bé yêu phát triển toàn diện.
          </div>
        </div>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Voòng Thị Ngọc Phương</strong>
            <br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần </i>
          </div>
          <div class="col-sm-9">
            Với những câu chuyện chọn lọc kỹ lưỡng, phù hợp với nhận thức, 
            những bài học nho nhỏ được rút ra qua từng câu chuyện thực tế, 
            hy vọng bộ sách sẽ là món quà tuyệt vời giúp bé yêu phát triển toàn diện.
          </div>
        </div>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Voòng Thị Ngọc Phương</strong>
            <br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần </i>
          </div>
          <div class="col-sm-9">
            Với những câu chuyện chọn lọc kỹ lưỡng, phù hợp với nhận thức, 
            những bài học nho nhỏ được rút ra qua từng câu chuyện thực tế, 
            hy vọng bộ sách sẽ là món quà tuyệt vời giúp bé yêu phát triển toàn diện.
          </div>
        </div>
      </div>
    </div>

    <footer class="text-center text-bg-primary p-3 rounded-3" >
        Bản quyền &copy; 2023, thuộc về Thư viện Thành phố (HCM Lib)
    </footer>

    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>